*output/Node-RED_flow.json
[
{
"id": "flow_name",
"type": "tab",
"label": "Converted Controller",
"disabled": false
},
{
"id": "get_request",
"type": "http in",
"z": "flow_name",
"disabled": false,
"name": "get_request",
"url": "/Node-RED",
"method": "get",
"upload": false,
"x": 200,
"y": 100,
"wires": [["extract_request"]]
},
{
"id": "extract_request",
"type": "function",
"z": "flow_name",
"name": "extract_request",
"func": "var req = msg.payload;\n msg.payload = req['req'];\nreturn msg;",
"noerr": 0,
"x": 200,
"y": 150,
"wires": [["set_flow_action"]]
},
{
"id": "set_flow_action",
"type": "change",
"z": "flow_name",
"name": "set_flow_action",
"rules": [{"t": "set","p": "action","pt": "flow","to": "payload","tot": "msg"}],
"reg": false,
"x": 200,
"y": 200,
"wires": [["response_request"]]
},
{
"id": "response_request",
"type": "http response",
"z": "flow_name",
"name": "response_request",
"x": 200,
"y": 250,
"wires": []
},
{
"id": "init",
"type": "inject",
"z": "flow_name",
"name": "init",
"payload": "",
"payloadType": "date",
"repeat": "",
"crontab": "",
"once": false,
"onceDelay": 0.1,
"x": 700,
"y": 100,
"wires": [["set_init_state"]]
},
{
"id": "set_init_state",
"type": "change",
"z": "flow_name",
"name": "set_init_state",
"rules": [{"t": "set","p": "action","pt": "flow","to": "null","tot": "str"}],
"reg": false,
"x": 700,
"y": 150,
"wires": [["Q0"]]
},
{
"id": "Q0",
"type": "function",
"z": "flow_name",
"name": "Q0",
"func": "flow.set(\"State\", \"Q0\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 200,
"wires": [["Q0_check"]]
},
{
"id": "Q0_check",
"type": "switch",
"z": "flow_name",
"name": "Q0_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_B","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 700,
"y": 275,
"wires": [["Q1"],["Q2"],["Q3"],["Q0_delay"]]
},
{
"id": "Q0_delay",
"type": "delay",
"z": "flow_name",
"name": "delay 100ms",
"pauseType": "delay",
"timeout": "100",
"timeoutUnits": "milliseconds",
"rate": "1",
"nbRateUnits": "1",
"rateUnits": "second",
"randomFirst": "1",
"randomLast": "5",
"randomUnits": "seconds",
"drop": false,
"x": 500,
"y": 200,
"wires": [["Q0"]]
}
,
{
"id": "Q1",
"type": "function",
"z": "flow_name",
"name": "Q1",
"func": "flow.set(\"State\", \"Q1\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 350,
"wires": [["Q1_deny_Out_set"]]
},
{
"id": "Q1_deny_Out_set",
"type": "function",
"z": "flow_name",
"name": "deny_Out_set",
"func": "msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 350,
"wires": [["Q1_deny_Out"]]
},
{
"id": "Q1_deny_Out",
"type": "http request",
"z": "flow_name",
"name": "deny_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 350,
"wires": [["Q0"]]
},
{
"id": "Q2",
"type": "function",
"z": "flow_name",
"name": "Q2",
"func": "flow.set(\"State\", \"Q2\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 400,
"wires": [["Q2_deny_B_set"]]
},
{
"id": "Q2_deny_B_set",
"type": "function",
"z": "flow_name",
"name": "deny_B_set",
"func": "msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 400,
"wires": [["Q2_deny_B"]]
},
{
"id": "Q2_deny_B",
"type": "http request",
"z": "flow_name",
"name": "deny_B",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 400,
"wires": [["Q0"]]
},
{
"id": "Q3",
"type": "function",
"z": "flow_name",
"name": "Q3",
"func": "flow.set(\"State\", \"Q3\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 450,
"wires": [["Q3_set"]]
},
{
"id": "Q3_set",
"type": "function",
"z": "flow_name",
"name": "Modifiable Area",
"func": "var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;",
"noerr": 0,
"x": 900,
"y": 450,
"wires": [["Q3_check"]]
},
{
"id": "Q3_check",
"type": "switch",
"z": "flow_name",
"name": "Q3_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "deny_A","vt": "str"}, {"t": "eq","v": "allow_A[1]","vt": "str"}],
"checkall": "true",
"repair": false,
"x": 1100,
"y": 450,
"wires": [["Q3_deny_A_set"], ["Q3_allow_A[1]_set"]]
},{
"id": "Q3_deny_A_set",
"type": "function",
"z": "flow_name",
"name": "deny_A_set",
"func": "msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 450,
"wires": [["Q3_deny_A"]]
},
{
"id": "Q3_deny_A",
"type": "http request",
"z": "flow_name",
"name": "deny_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 450,
"wires": [["Q0"]]
},{
"id": "Q3_allow_A[1]_set",
"type": "function",
"z": "flow_name",
"name": "allow_A[1]_set",
"func": "msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 490,
"wires": [["Q3_allow_A[1]"]]
},
{
"id": "Q3_allow_A[1]",
"type": "http request",
"z": "flow_name",
"name": "allow_A[1]",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 490,
"wires": [["Q4"]]
},
{
"id": "Q4",
"type": "function",
"z": "flow_name",
"name": "Q4",
"func": "flow.set(\"State\", \"Q4\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 540,
"wires": [["Q4_check"]]
},
{
"id": "Q4_check",
"type": "switch",
"z": "flow_name",
"name": "Q4_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_B","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 700,
"y": 615,
"wires": [["Q5"],["Q6"],["Q15"],["Q4_delay"]]
},
{
"id": "Q4_delay",
"type": "delay",
"z": "flow_name",
"name": "delay 100ms",
"pauseType": "delay",
"timeout": "100",
"timeoutUnits": "milliseconds",
"rate": "1",
"nbRateUnits": "1",
"rateUnits": "second",
"randomFirst": "1",
"randomLast": "5",
"randomUnits": "seconds",
"drop": false,
"x": 500,
"y": 540,
"wires": [["Q4"]]
}
,
{
"id": "Q5",
"type": "function",
"z": "flow_name",
"name": "Q5",
"func": "flow.set(\"State\", \"Q5\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 690,
"wires": [["Q5_deny_Out_set"]]
},
{
"id": "Q5_deny_Out_set",
"type": "function",
"z": "flow_name",
"name": "deny_Out_set",
"func": "msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 690,
"wires": [["Q5_deny_Out"]]
},
{
"id": "Q5_deny_Out",
"type": "http request",
"z": "flow_name",
"name": "deny_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 690,
"wires": [["Q4"]]
},
{
"id": "Q6",
"type": "function",
"z": "flow_name",
"name": "Q6",
"func": "flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 740,
"wires": [["Q6_set"]]
},
{
"id": "Q6_set",
"type": "function",
"z": "flow_name",
"name": "Modifiable Area",
"func": "var action = new Array(\"deny_B\", \"allow_B[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;",
"noerr": 0,
"x": 900,
"y": 740,
"wires": [["Q6_check"]]
},
{
"id": "Q6_check",
"type": "switch",
"z": "flow_name",
"name": "Q6_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "deny_B","vt": "str"}, {"t": "eq","v": "allow_B[1]","vt": "str"}],
"checkall": "true",
"repair": false,
"x": 1100,
"y": 740,
"wires": [["Q6_deny_B_set"], ["Q6_allow_B[1]_set"]]
},{
"id": "Q6_deny_B_set",
"type": "function",
"z": "flow_name",
"name": "deny_B_set",
"func": "msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 740,
"wires": [["Q6_deny_B"]]
},
{
"id": "Q6_deny_B",
"type": "http request",
"z": "flow_name",
"name": "deny_B",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 740,
"wires": [["Q4"]]
},{
"id": "Q6_allow_B[1]_set",
"type": "function",
"z": "flow_name",
"name": "allow_B[1]_set",
"func": "msg.payload = \"allow_B[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 780,
"wires": [["Q6_allow_B[1]"]]
},
{
"id": "Q6_allow_B[1]",
"type": "http request",
"z": "flow_name",
"name": "allow_B[1]",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_B[1]/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 780,
"wires": [["Q7"]]
},
{
"id": "Q7",
"type": "function",
"z": "flow_name",
"name": "Q7",
"func": "flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 830,
"wires": [["Q7_check"]]
},
{
"id": "Q7_check",
"type": "switch",
"z": "flow_name",
"name": "Q7_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_B","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 700,
"y": 905,
"wires": [["Q8"],["Q9"],["Q10"],["Q7_delay"]]
},
{
"id": "Q7_delay",
"type": "delay",
"z": "flow_name",
"name": "delay 100ms",
"pauseType": "delay",
"timeout": "100",
"timeoutUnits": "milliseconds",
"rate": "1",
"nbRateUnits": "1",
"rateUnits": "second",
"randomFirst": "1",
"randomLast": "5",
"randomUnits": "seconds",
"drop": false,
"x": 500,
"y": 830,
"wires": [["Q7"]]
}
,
{
"id": "Q8",
"type": "function",
"z": "flow_name",
"name": "Q8",
"func": "flow.set(\"State\", \"Q8\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 980,
"wires": [["Q8_set"]]
},
{
"id": "Q8_set",
"type": "function",
"z": "flow_name",
"name": "Modifiable Area",
"func": "var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;",
"noerr": 0,
"x": 900,
"y": 980,
"wires": [["Q8_check"]]
},
{
"id": "Q8_check",
"type": "switch",
"z": "flow_name",
"name": "Q8_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "allow_Out","vt": "str"}, {"t": "eq","v": "deny_Out","vt": "str"}],
"checkall": "true",
"repair": false,
"x": 1100,
"y": 980,
"wires": [["Q8_allow_Out_set"], ["Q8_deny_Out_set"]]
},{
"id": "Q8_allow_Out_set",
"type": "function",
"z": "flow_name",
"name": "allow_Out_set",
"func": "msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 980,
"wires": [["Q8_allow_Out"]]
},
{
"id": "Q8_allow_Out",
"type": "http request",
"z": "flow_name",
"name": "allow_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 980,
"wires": [["Q0"]]
},{
"id": "Q8_deny_Out_set",
"type": "function",
"z": "flow_name",
"name": "deny_Out_set",
"func": "msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 1020,
"wires": [["Q8_deny_Out"]]
},
{
"id": "Q8_deny_Out",
"type": "http request",
"z": "flow_name",
"name": "deny_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 1020,
"wires": [["Q7"]]
},
{
"id": "Q9",
"type": "function",
"z": "flow_name",
"name": "Q9",
"func": "flow.set(\"State\", \"Q9\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1070,
"wires": [["Q9_deny_B_set"]]
},
{
"id": "Q9_deny_B_set",
"type": "function",
"z": "flow_name",
"name": "deny_B_set",
"func": "msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 1070,
"wires": [["Q9_deny_B"]]
},
{
"id": "Q9_deny_B",
"type": "http request",
"z": "flow_name",
"name": "deny_B",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1070,
"wires": [["Q7"]]
},
{
"id": "Q10",
"type": "function",
"z": "flow_name",
"name": "Q10",
"func": "flow.set(\"State\", \"Q10\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1120,
"wires": [["Q10_set"]]
},
{
"id": "Q10_set",
"type": "function",
"z": "flow_name",
"name": "Modifiable Area",
"func": "var action = new Array(\"deny_A\", \"allow_A[1]\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;",
"noerr": 0,
"x": 900,
"y": 1120,
"wires": [["Q10_check"]]
},
{
"id": "Q10_check",
"type": "switch",
"z": "flow_name",
"name": "Q10_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "deny_A","vt": "str"}, {"t": "eq","v": "allow_A[1]","vt": "str"}],
"checkall": "true",
"repair": false,
"x": 1100,
"y": 1120,
"wires": [["Q10_deny_A_set"], ["Q10_allow_A[1]_set"]]
},{
"id": "Q10_deny_A_set",
"type": "function",
"z": "flow_name",
"name": "deny_A_set",
"func": "msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 1120,
"wires": [["Q10_deny_A"]]
},
{
"id": "Q10_deny_A",
"type": "http request",
"z": "flow_name",
"name": "deny_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 1120,
"wires": [["Q7"]]
},{
"id": "Q10_allow_A[1]_set",
"type": "function",
"z": "flow_name",
"name": "allow_A[1]_set",
"func": "msg.payload = \"allow_A[1]\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 1160,
"wires": [["Q10_allow_A[1]"]]
},
{
"id": "Q10_allow_A[1]",
"type": "http request",
"z": "flow_name",
"name": "allow_A[1]",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_A[1]/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 1160,
"wires": [["Q11"]]
},
{
"id": "Q11",
"type": "function",
"z": "flow_name",
"name": "Q11",
"func": "flow.set(\"State\", \"Q11\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1210,
"wires": [["Q11_check"]]
},
{
"id": "Q11_check",
"type": "switch",
"z": "flow_name",
"name": "Q11_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_B","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 700,
"y": 1285,
"wires": [["Q12"],["Q13"],["Q14"],["Q11_delay"]]
},
{
"id": "Q11_delay",
"type": "delay",
"z": "flow_name",
"name": "delay 100ms",
"pauseType": "delay",
"timeout": "100",
"timeoutUnits": "milliseconds",
"rate": "1",
"nbRateUnits": "1",
"rateUnits": "second",
"randomFirst": "1",
"randomLast": "5",
"randomUnits": "seconds",
"drop": false,
"x": 500,
"y": 1210,
"wires": [["Q11"]]
}
,
{
"id": "Q12",
"type": "function",
"z": "flow_name",
"name": "Q12",
"func": "flow.set(\"State\", \"Q12\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1360,
"wires": [["Q12_set"]]
},
{
"id": "Q12_set",
"type": "function",
"z": "flow_name",
"name": "Modifiable Area",
"func": "var action = new Array(\"allow_Out\", \"deny_Out\");\n var rnd = Math.floor( Math.random() * 2);\n flow.set(\"action\", action[rnd]);\n return msg;",
"noerr": 0,
"x": 900,
"y": 1360,
"wires": [["Q12_check"]]
},
{
"id": "Q12_check",
"type": "switch",
"z": "flow_name",
"name": "Q12_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "allow_Out","vt": "str"}, {"t": "eq","v": "deny_Out","vt": "str"}],
"checkall": "true",
"repair": false,
"x": 1100,
"y": 1360,
"wires": [["Q12_allow_Out_set"], ["Q12_deny_Out_set"]]
},{
"id": "Q12_allow_Out_set",
"type": "function",
"z": "flow_name",
"name": "allow_Out_set",
"func": "msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 1360,
"wires": [["Q12_allow_Out"]]
},
{
"id": "Q12_allow_Out",
"type": "http request",
"z": "flow_name",
"name": "allow_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 1360,
"wires": [["Q4"]]
},{
"id": "Q12_deny_Out_set",
"type": "function",
"z": "flow_name",
"name": "deny_Out_set",
"func": "msg.payload = \"deny_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 1400,
"y": 1400,
"wires": [["Q12_deny_Out"]]
},
{
"id": "Q12_deny_Out",
"type": "http request",
"z": "flow_name",
"name": "deny_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1700,
"y": 1400,
"wires": [["Q11"]]
},
{
"id": "Q13",
"type": "function",
"z": "flow_name",
"name": "Q13",
"func": "flow.set(\"State\", \"Q13\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1450,
"wires": [["Q13_deny_B_set"]]
},
{
"id": "Q13_deny_B_set",
"type": "function",
"z": "flow_name",
"name": "deny_B_set",
"func": "msg.payload = \"deny_B\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 1450,
"wires": [["Q13_deny_B"]]
},
{
"id": "Q13_deny_B",
"type": "http request",
"z": "flow_name",
"name": "deny_B",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_B/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1450,
"wires": [["Q11"]]
},
{
"id": "Q14",
"type": "function",
"z": "flow_name",
"name": "Q14",
"func": "flow.set(\"State\", \"Q14\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1500,
"wires": [["Q14_deny_A_set"]]
},
{
"id": "Q14_deny_A_set",
"type": "function",
"z": "flow_name",
"name": "deny_A_set",
"func": "msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 1500,
"wires": [["Q14_deny_A"]]
},
{
"id": "Q14_deny_A",
"type": "http request",
"z": "flow_name",
"name": "deny_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1500,
"wires": [["Q11"]]
},
{
"id": "Q15",
"type": "function",
"z": "flow_name",
"name": "Q15",
"func": "flow.set(\"State\", \"Q15\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 700,
"y": 1550,
"wires": [["Q15_deny_A_set"]]
},
{
"id": "Q15_deny_A_set",
"type": "function",
"z": "flow_name",
"name": "deny_A_set",
"func": "msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 900,
"y": 1550,
"wires": [["Q15_deny_A"]]
},
{
"id": "Q15_deny_A",
"type": "http request",
"z": "flow_name",
"name": "deny_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1550,
"wires": [["Q4"]]
}
]
