*sample/OneRoom/Node-RED_flow.json
[
{
"id": "flow_name",
"type": "tab",
"label": "Converted Controller",
"disabled": false
},
{
"id": "get_request",
"type": "http in",
"z": "flow_name",
"disabled": false,
"name": "get_request",
"url": "/Node-RED",
"method": "get",
"upload": false,
"x": 200,
"y": 100,
"wires": [["extract_request"]]
},
{
"id": "extract_request",
"type": "function",
"z": "flow_name",
"name": "extract_request",
"func": "var req = msg.payload;\n msg.payload = req['req'];\nreturn msg;",
"noerr": 0,
"x": 200,
"y": 150,
"wires": [["set_flow_action"]]
},
{
"id": "set_flow_action",
"type": "change",
"z": "flow_name",
"name": "set_flow_action",
"rules": [{"t": "set","p": "action","pt": "flow","to": "payload","tot": "msg"}],
"reg": false,
"x": 200,
"y": 200,
"wires": [["response_request"]]
},
{
"id": "response_request",
"type": "http response",
"z": "flow_name",
"name": "response_request",
"x": 200,
"y": 250,
"wires": []
},
{
"id": "init",
"type": "inject",
"z": "flow_name",
"name": "init",
"payload": "",
"payloadType": "date",
"repeat": "",
"crontab": "",
"once": false,
"onceDelay": 0.1,
"x": 500,
"y": 100,
"wires": [["set_init_state"]]
},
{
"id": "set_init_state",
"type": "change",
"z": "flow_name",
"name": "set_init_state",
"rules": [{"t": "set","p": "action","pt": "flow","to": "null","tot": "str"}],
"reg": false,
"x": 500,
"y": 150,
"wires": [["Q0"]]
},
{
"id": "Q0",
"type": "function",
"z": "flow_name",
"name": "Q0",
"func": "flow.set(\"State\", \"Q0\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 200,
"wires": [["Q0_check"]]
},
{
"id": "Q0_check",
"type": "switch",
"z": "flow_name",
"name": "Q0_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 250,
"wires": [["Q1"],["Q0"]]
},
{
"id": "Q1",
"type": "function",
"z": "flow_name",
"name": "Q1",
"func": "flow.set(\"State\", \"Q1\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 300,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 300,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 300,
"wires": [["Q2"]]
},
{
"id": "Q2",
"type": "function",
"z": "flow_name",
"name": "Q2",
"func": "flow.set(\"State\", \"Q2\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 350,
"wires": [["allow_A_set"]]
},
{
"id": "allow_A_set",
"type": "function",
"z": "flow_name",
"name": "allow_A_set",
"func": "msg.payload = \"allow_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 350,
"wires": [["allow_A"]]
},
{
"id": "allow_A",
"type": "http request",
"z": "flow_name",
"name": "allow_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 350,
"wires": [["Q3"]]
},
{
"id": "Q3",
"type": "function",
"z": "flow_name",
"name": "Q3",
"func": "flow.set(\"State\", \"Q3\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 400,
"wires": [["Q3_check"]]
},
{
"id": "Q3_check",
"type": "switch",
"z": "flow_name",
"name": "Q3_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "arrive_A[1]","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 450,
"wires": [["Q4"],["Q3"]]
},
{
"id": "Q4",
"type": "function",
"z": "flow_name",
"name": "Q4",
"func": "flow.set(\"State\", \"Q4\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 500,
"wires": [["Q4_check"]]
},
{
"id": "Q4_check",
"type": "switch",
"z": "flow_name",
"name": "Q4_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 550,
"wires": [["Q5"],["Q12"],["Q4"]]
},
{
"id": "Q5",
"type": "function",
"z": "flow_name",
"name": "Q5",
"func": "flow.set(\"State\", \"Q5\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 600,
"wires": [["lock_A_set"]]
},
{
"id": "lock_A_set",
"type": "function",
"z": "flow_name",
"name": "lock_A_set",
"func": "msg.payload = \"lock_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 600,
"wires": [["lock_A"]]
},
{
"id": "lock_A",
"type": "http request",
"z": "flow_name",
"name": "lock_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/lock_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 600,
"wires": [["Q6"]]
},
{
"id": "Q6",
"type": "function",
"z": "flow_name",
"name": "Q6",
"func": "flow.set(\"State\", \"Q6\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 650,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 650,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 650,
"wires": [["Q7"]]
},
{
"id": "Q7",
"type": "function",
"z": "flow_name",
"name": "Q7",
"func": "flow.set(\"State\", \"Q7\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 700,
"wires": [["allow_Out_set"]]
},
{
"id": "allow_Out_set",
"type": "function",
"z": "flow_name",
"name": "allow_Out_set",
"func": "msg.payload = \"allow_Out\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 700,
"wires": [["allow_Out"]]
},
{
"id": "allow_Out",
"type": "http request",
"z": "flow_name",
"name": "allow_Out",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/allow_Out/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 700,
"wires": [["Q8"]]
},
{
"id": "Q8",
"type": "function",
"z": "flow_name",
"name": "Q8",
"func": "flow.set(\"State\", \"Q8\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 750,
"wires": [["Q8_check"]]
},
{
"id": "Q8_check",
"type": "switch",
"z": "flow_name",
"name": "Q8_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "leave","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 800,
"wires": [["Q9"],["Q8"]]
},
{
"id": "Q9",
"type": "function",
"z": "flow_name",
"name": "Q9",
"func": "flow.set(\"State\", \"Q9\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 850,
"wires": [["Q9_check"]]
},
{
"id": "Q9_check",
"type": "switch",
"z": "flow_name",
"name": "Q9_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 900,
"wires": [["Q10"],["Q9"]]
},
{
"id": "Q10",
"type": "function",
"z": "flow_name",
"name": "Q10",
"func": "flow.set(\"State\", \"Q10\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 950,
"wires": [["unLock_A_set"]]
},
{
"id": "unLock_A_set",
"type": "function",
"z": "flow_name",
"name": "unLock_A_set",
"func": "msg.payload = \"unLock_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 950,
"wires": [["unLock_A"]]
},
{
"id": "unLock_A",
"type": "http request",
"z": "flow_name",
"name": "unLock_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/unLock_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 950,
"wires": [["Q11"]]
},
{
"id": "Q11",
"type": "function",
"z": "flow_name",
"name": "Q11",
"func": "flow.set(\"State\", \"Q11\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1000,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1000,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1000,
"wires": [["Q2"]]
},
{
"id": "Q12",
"type": "function",
"z": "flow_name",
"name": "Q12",
"func": "flow.set(\"State\", \"Q12\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1050,
"wires": [["lock_A_set"]]
},
{
"id": "lock_A_set",
"type": "function",
"z": "flow_name",
"name": "lock_A_set",
"func": "msg.payload = \"lock_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1050,
"wires": [["lock_A"]]
},
{
"id": "lock_A",
"type": "http request",
"z": "flow_name",
"name": "lock_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/lock_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1050,
"wires": [["Q13"]]
},
{
"id": "Q13",
"type": "function",
"z": "flow_name",
"name": "Q13",
"func": "flow.set(\"State\", \"Q13\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1100,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1100,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1100,
"wires": [["Q14"]]
},
{
"id": "Q14",
"type": "function",
"z": "flow_name",
"name": "Q14",
"func": "flow.set(\"State\", \"Q14\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1150,
"wires": [["deny_A_set"]]
},
{
"id": "deny_A_set",
"type": "function",
"z": "flow_name",
"name": "deny_A_set",
"func": "msg.payload = \"deny_A\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1150,
"wires": [["deny_A"]]
},
{
"id": "deny_A",
"type": "http request",
"z": "flow_name",
"name": "deny_A",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/deny_A/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1150,
"wires": [["Q15"]]
},
{
"id": "Q15",
"type": "function",
"z": "flow_name",
"name": "Q15",
"func": "flow.set(\"State\", \"Q15\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1200,
"wires": [["Q15_check"]]
},
{
"id": "Q15_check",
"type": "switch",
"z": "flow_name",
"name": "Q15_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "notEnter","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 1250,
"wires": [["Q16"],["Q15"]]
},
{
"id": "Q16",
"type": "function",
"z": "flow_name",
"name": "Q16",
"func": "flow.set(\"State\", \"Q16\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1300,
"wires": [["Q16_check"]]
},
{
"id": "Q16_check",
"type": "switch",
"z": "flow_name",
"name": "Q16_check",
"property": "action",
"propertyType": "flow",
"rules": [{"t": "eq","v": "reqOut","vt": "str"},{"t": "eq","v": "reqEnter_A","vt": "str"},{"t": "else"}],
"checkall": "true",
"repair": false,
"x": 500,
"y": 1350,
"wires": [["Q17"],["Q18"],["Q16"]]
},
{
"id": "Q17",
"type": "function",
"z": "flow_name",
"name": "Q17",
"func": "flow.set(\"State\", \"Q17\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1400,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1400,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1400,
"wires": [["Q7"]]
},
{
"id": "Q18",
"type": "function",
"z": "flow_name",
"name": "Q18",
"func": "flow.set(\"State\", \"Q18\");\n msg.payload = flow.get(\"State\");\n return msg;",
"noerr": 0,
"x": 500,
"y": 1450,
"wires": [["resRoomStatus_set"]]
},
{
"id": "resRoomStatus_set",
"type": "function",
"z": "flow_name",
"name": "resRoomStatus_set",
"func": "msg.payload = \"resRoomStatus\";\nflow.set(\"action\", msg.payload);\nreturn msg;",
"noerr": 0,
"x": 800,
"y": 1450,
"wires": [["resRoomStatus"]]
},
{
"id": "resRoomStatus",
"type": "http request",
"z": "flow_name",
"name": "resRoomStatus",
"method": "POST",
"ret": "txt",
"paytoqs": false,
"url": "https://maker.ifttt.com/trigger/resRoomStatus/with/key/cPFBtMhxOsUhT968fhqXb9",
"persist": false,
"x": 1100,
"y": 1450,
"wires": [["Q14"]]
}
]
